.footer {
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    color: maroon;
    flex-direction: column;
    padding: 30px 0;
    background-color: #05131b;

}