.nav-title {
    color: maroon;
    font-size: 74px;
    font-family: "Anta",sans-serif;
    font-style: normal;
    margin: 20px ;
    text-align: center;
    color: maroon;
}

@media (max-width: 768px) {
    

}
