@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=The+Nautigal:wght@400;700&display=swap');



.detail-container {
    display: flex;
    position: relative;
    background-color: #05131B;
    box-shadow: 10px 10px 10px  #ccc;
    width: 80%;
    border-radius: 20px;
    gap:5%;
    padding: 15px 0 15px 0;
    margin: 65px auto;  
    color: white;

    
}

.detail-info {
    padding-inline: 15px;
}

.detail-poster img{
    height: 475px;
    border-radius: 5%;
    padding-left: 15px;
}


.detail-title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0 12px 0;
}

.detail-tag {
    color: maroon;
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    padding: 0 0 25px 0;
}

.detail-overview {
    font-family: "Lato", serif;
    font-weight: 100;
    font-style: italic;
}

.detail-rate {
    display: flex;
    align-item: center;
    font-family: "Roboto Slab", serif;
    color: #f9f9f9;
    margin: 0px;
}

.detail-rating {    
    width: 20px;
    height: 20px;
    border-radius: 24px;
    border: none;
    background-color: maroon;
    padding: 15px;
    font-size: 16px; 
    text-align: center;   
}
.detail-release_date,
.detail-genre {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    display: flex;
    align-item: center;
    font-family: "Roboto Slab", serif;

}

.detail-back {
    position: absolute;
    color: white;
    background-color: black;
    bottom: 30px;
    right: 30px;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 2px 12px lightgray;
    transition: ease background-color 250ms;

}

@media only screen and (max-width: 768px) {
    .detail-container {
        height: 925px;
        margin-bottom: 25px;
    }
    .detail-title {
        margin-top: 75px;
        color: white;
        postion: relative;
        font-size: 16px;
    }

   .detail-info {
        position: absolute;
        color: orange;
        margin-top: 125%;
        margin-bottom: 25px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
   }

   .detail-rating {    
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: none;
    background-color: maroon;
    font-size: 12px;
    display: flex; 
    text-align: center;   
}

    .detail-extra {
        display: flex;
        justify-content: space;
    }


}